* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans Condensed', sans-serif;
}

main {
    width: 100%;
    height: auto;
    /* overflow-x: hidden; */
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

li {
    list-style-type: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}