#main_page {
  width: 100%;
  min-height: 100vh;
  background-image: url(../image/1.jpg);
  background-size: 100% 100%;
  background-position: 0px 70px;
}
#main_page > header {
  width: 100%;
  height: 70px;
  background-color: #13172B;
}
#main_page > header > nav {
  width: 40%;
  height: 100%;
}
#main_page > header > nav > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#main_page > header > nav > ul > li {
  width: 100%;
  height: 100%;
  position: relative;
}
#main_page > header > nav > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  font-size: 15px;
}
#main_page > header > nav > ul > li > a:hover {
  color: #E8A41D;
}
#main_page > header > nav > ul > li > a > i {
  display: flex;
  font-size: 20px;
  color: #E8A41D;
  padding-left: 10px;
}
#main_page > header > nav > ul > li:hover .submenu {
  opacity: 1;
  visibility: visible;
  top: 70px;
}
#main_page > header > nav > ul > li > .submenu {
  width: 200%;
  background-color: #13172B;
  color: white;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 110px;
}
#main_page > header > nav > ul > li > .submenu > li {
  height: 50px;
  position: relative;
}
#main_page > header > nav > ul > li > .submenu > li > a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(232, 164, 29, 0.1764705882);
  transition: 0.4s;
  font-size: 15px;
}
#main_page > header > nav > ul > li > .submenu > li > a:hover {
  color: #E8A41D;
}
#main_page > header > nav > ul > li > .submenu > li > a > i {
  display: flex;
  font-size: 20px;
  color: #E8A41D;
  padding-left: 10px;
}
#main_page > header > nav > ul > li > .submenu > li:hover .nestedmenu {
  width: 100%;
}
#main_page > header > nav > ul > li > .submenu > li > .nestedmenu {
  width: 0;
  overflow: hidden;
  background-color: #13172B;
  position: absolute;
  left: 100%;
  top: 0;
  transition: 1s;
}
#main_page > header > nav > ul > li > .submenu > li > .nestedmenu > li {
  height: 50px;
  border-left: 5px solid rgba(232, 164, 29, 0.1764705882);
  border-bottom: 1px solid rgba(232, 164, 29, 0.1764705882);
}
#main_page > header > nav > ul > li > .submenu > li > .nestedmenu > li > a {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
#main_page > header > nav > ul > li > .submenu > li > .nestedmenu > li > a:hover {
  color: #E8A41D;
}
#main_page > header > div:first-of-type {
  width: 20%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: end;
}
#main_page > header > div:first-of-type > figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main_page > header > div:first-of-type > h3 {
  width: 100%;
  height: 40px;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
}
#main_page > header > div:last-of-type {
  width: 40%;
  height: 100%;
}
#main_page > header > div:last-of-type > div:first-of-type {
  width: 60%;
  align-items: center;
  justify-content: space-evenly;
}
#main_page > header > div:last-of-type > div:first-of-type > a > i {
  display: flex;
  font-size: 20px;
  color: white;
}
#main_page > header > div:last-of-type > div:first-of-type > a > i:hover {
  color: #E8A41D;
  transition: 1s;
  rotate: 0 1 0 180deg;
}
#main_page > header > div:last-of-type > div:last-of-type {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main_page > header > div:last-of-type > div:last-of-type > a {
  display: flex;
  width: 180px;
  height: 50px;
  background-color: #E8A41D;
  color: white;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
#main_page > header > div:last-of-type > div:last-of-type > a:hover {
  background-color: #13172B;
  border: 1px solid #E8A41D;
  color: #E8A41D;
  font-size: 22px;
}
#main_page > section {
  width: 100%;
  height: calc(100vh - 70px);
}
#main_page > section > div {
  width: 100%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#main_page > section > div > h1,
#main_page > section > div h3 {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
}
#main_page > section > div > h2 {
  color: white;
  font-size: 40px;
}
#main_page > section > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  color: #13172B;
  background-color: #E8A41D;
  transition: 0.4s;
  font-size: 15px;
}
#main_page > section > div > a:hover {
  background-color: #13172B;
  color: #E8A41D;
  border: 1px solid #E8A41D;
  font-size: 16px;
}

#choice {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  justify-content: center;
  position: relative;
}
#choice:hover .book_now {
  top: -75px;
  opacity: 1;
}
#choice > .book_now {
  width: 90%;
  height: 150px;
  position: absolute;
  top: 75px;
  background-color: #13172B;
  transition: 0.4s;
  opacity: 0;
}
#choice > .book_now > div:first-of-type {
  width: 25%;
  min-height: 100%;
  display: flex;
  align-items: center;
}
#choice > .book_now > div:first-of-type > h3 {
  font-size: 45px;
  color: white;
  text-align: center;
}
#choice > .book_now > div:last-of-type {
  width: 75%;
  height: 100%;
  justify-content: space-evenly;
  align-content: space-evenly;
}
#choice > .book_now > div:last-of-type > label {
  display: flex;
  width: 30%;
  height: 40px;
  border: 1px solid gray;
}
#choice > .book_now > div:last-of-type > label > input[type=text] {
  width: 93%;
  border: none;
  outline: none;
  background-color: #13172B;
  font-size: 15px;
  padding-left: 10px;
  color: gray;
}
#choice > .book_now > div:last-of-type > label > input[type=week] {
  width: 7%;
  border: none;
  background-color: #13172B;
  color: #13172B;
}
#choice > .book_now > div:last-of-type > select {
  width: 30%;
  height: 40px;
  background-color: #13172B;
  color: gray;
  font-size: 15px;
  padding-left: 10px;
}
#choice > .book_now > div:last-of-type > a {
  display: flex;
  width: 30%;
  height: 40px;
  font-size: 15px;
  background-color: #E8A41D;
  justify-content: center;
  align-items: center;
  color: #13172B;
  transition: 0.4s;
}
#choice > .book_now > div:last-of-type > a:hover {
  background-color: #13172B;
  color: #E8A41D;
  border: 1px solid #E8A41D;
  font-size: 17px;
}
#choice > .description {
  width: 100%;
  height: 200px;
  justify-content: center;
  align-content: flex-end;
}
#choice > .description > h2 {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  font-size: 35px;
  color: #1F3347;
}
#choice > .description > p {
  font-size: 16px;
  padding-top: 15px;
  color: gray;
  line-height: 25px;
}
#choice > section {
  width: 100%;
  justify-content: space-evenly;
}
#choice > section > div {
  width: 250px;
  height: 250px;
  background-color: #ffffff;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.4s;
}
#choice > section > div:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 4px 4px, rgba(0, 0, 0, 0.555) 7px 14px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#choice > section > div > div:first-of-type {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 120px;
}
#choice > section > div > div:first-of-type > i {
  font-size: 80px;
  padding-left: 65px;
  padding-top: 30px;
  color: #E8A41D;
}
#choice > section > div > div:first-of-type > i:hover {
  color: #13172B;
}
#choice > section > div > div:last-of-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: calc(100% - 120px);
}
#choice > section > div > div:last-of-type > *:hover {
  color: #E8A41D;
}
#choice > section > div > div:last-of-type > h3 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: #1F3347;
}
#choice > section > div > div:last-of-type > span {
  font-size: 15px;
  padding-top: 10px;
  color: gray;
}

#hotel_room {
  width: 100%;
  min-height: 140vh;
  background-color: #F8F5F0;
}
#hotel_room > .description {
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}
#hotel_room > .description > h2 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 35px;
  color: #1F3347;
}
#hotel_room > .description > p {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  color: gray;
}
#hotel_room > .room {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  padding: 20px;
}
#hotel_room > .room > div {
  width: 330px;
  height: 380px;
  margin-top: 40px;
  position: relative;
  overflow: hidden;
}
#hotel_room > .room > div:hover .price_room {
  bottom: 2.5%;
  background-color: #F8F5F0;
}
#hotel_room > .room > div:hover .star > h3, #hotel_room > .room > div:hover .price > span {
  color: #13172B !important;
}
#hotel_room > .room > div:hover .star > h4, #hotel_room > .room > div:hover .price > h5 {
  color: gray !important;
}
#hotel_room > .room > div > figure {
  width: 100%;
  height: 100%;
}
#hotel_room > .room > div > figure > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#hotel_room > .room > div > .price_room {
  width: 95%;
  height: 95%;
  background-color: rgba(248, 245, 240, 0);
  border-radius: 10px;
  position: absolute;
  bottom: -60%;
  left: 2.5%;
  z-index: 1;
  transition: 0.4s;
}
#hotel_room > .room > div > .price_room > div:nth-of-type(1) {
  width: 100%;
  height: 120px;
}
#hotel_room > .room > div > .price_room > div:nth-of-type(1) > .star {
  width: 70%;
  height: 100%;
  align-content: flex-end;
  padding-left: 20px;
}
#hotel_room > .room > div > .price_room > div:nth-of-type(1) > .star > h3 {
  font-size: 35px;
  color: white;
}
#hotel_room > .room > div > .price_room > div:nth-of-type(1) > .star > h4 {
  font-size: 16px;
  color: white;
}
#hotel_room > .room > div > .price_room > div:nth-of-type(1) > .star > i {
  font-size: 12px;
  padding-bottom: 10px;
  color: #E8A41D;
}
#hotel_room > .room > div > .price_room > div:nth-of-type(1) > .price {
  width: 30%;
  height: 100%;
  align-content: flex-end;
}
#hotel_room > .room > div > .price_room > div:nth-of-type(1) > .price > span {
  width: 100%;
  font-size: 30px;
  display: flex;
  align-items: flex-end;
  color: white;
}
#hotel_room > .room > div > .price_room > div:nth-of-type(1) > .price > span:hover {
  font-size: 35px;
  color: #E8A41D !important;
}
#hotel_room > .room > div > .price_room > div:nth-of-type(1) > .price > h5 {
  font-size: 16px;
  color: white;
}
#hotel_room > .room > div > .price_room > div:nth-of-type(2) {
  width: 100%;
  height: 180px;
}
#hotel_room > .room > div > .price_room > div:nth-of-type(2) > div:first-of-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
  width: 100%;
  height: 100%;
}
#hotel_room > .room > div > .price_room > div:nth-of-type(2) > div:first-of-type > i {
  font-size: 30px;
  color: #ffaa01;
  width: 50px;
  height: 40px;
}
#hotel_room > .room > div > .price_room > div:nth-of-type(2) > div:first-of-type > span {
  display: flex;
  align-items: center;
  width: 90px;
  font-size: 15px;
  color: gray;
}
#hotel_room > .room > div > .price_room > div:nth-of-type(2) > div:first-of-type > span:hover {
  color: #E8A41D;
  font-size: 17px;
}
#hotel_room > .room > div > .price_room > div:nth-of-type(3) {
  width: 100%;
  height: calc(100% - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#hotel_room > .room > div > .price_room > div:nth-of-type(3) > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 40px;
  font-size: 15px;
  background-color: #E8A41D;
  color: #13172B;
  transition: 0.4s;
}
#hotel_room > .room > div > .price_room > div:nth-of-type(3) > a:hover {
  background-color: #13172B;
  border: 1px solid #E8A41D;
  color: #E8A41D;
  font-size: 17px;
}

#welcome {
  width: 100%;
  min-height: 120vh;
  background-color: #FFFFFF;
  padding-top: 100px;
}
#welcome > div:first-of-type {
  width: 50%;
}
#welcome > div:first-of-type > div:first-of-type {
  width: 100%;
  padding: 30px;
}
#welcome > div:first-of-type > div:first-of-type > h3 {
  font-size: 20px;
  letter-spacing: 3px;
  color: #1F3347;
}
#welcome > div:first-of-type > div:first-of-type > h3:hover {
  color: #E8A41D;
}
#welcome > div:first-of-type > div:first-of-type > h2 {
  font-size: 40px;
  color: #1F3347;
  padding-top: 20px;
}
#welcome > div:first-of-type > div:first-of-type > h2:hover {
  color: #E8A41D;
}
#welcome > div:first-of-type > div:first-of-type > p {
  color: gray;
  line-height: 20px;
  font-size: 15px;
  padding-top: 20px;
}
#welcome > div:first-of-type > div:last-of-type {
  height: 20%;
}
#welcome > div:first-of-type > div:last-of-type > .img_best_rate {
  width: 17%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#welcome > div:first-of-type > div:last-of-type > .img_best_rate > figure {
  width: 50px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#welcome > div:first-of-type > div:last-of-type > .img_best_rate > figure > img {
  width: 100%;
  height: 100%;
}
#welcome > div:first-of-type > div:last-of-type > .best_rate {
  width: 30%;
  padding-left: 10px;
  padding-top: 5px;
}
#welcome > div:first-of-type > div:last-of-type > .best_rate > h3 {
  color: #1F3347;
}
#welcome > div:first-of-type > div:last-of-type > .best_rate > h3:hover {
  color: #E8A41D;
}
#welcome > div:first-of-type > div:last-of-type > .best_rate > p {
  padding-top: 10px;
  color: gray;
}
#welcome > div:last-of-type {
  width: 50%;
  position: relative;
}
#welcome > div:last-of-type > figure:first-of-type {
  width: 450px;
  height: 500px;
}
#welcome > div:last-of-type > figure:first-of-type > img {
  width: 100%;
  height: 100%;
}
#welcome > div:last-of-type > figure:last-of-type {
  width: 250px;
  height: 250px;
  position: absolute;
  right: 100px;
  bottom: 50px;
  z-index: 1;
  transition: 0.4s;
}
#welcome > div:last-of-type > figure:last-of-type:hover {
  filter: drop-shadow(30px 40px 5px rgb(136, 135, 135));
}
#welcome > div:last-of-type > figure:last-of-type > img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(30px 30px 5px rgb(136, 135, 135));
}

#latest_news {
  width: 100%;
  min-height: 150vh;
  background-color: #F8F5F0;
}
#latest_news > .articles {
  width: 100%;
  height: 150px;
  justify-content: center;
}
#latest_news > .articles > h3,
#latest_news > .articles h2 {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #1F3347;
}
#latest_news > .articles > h3 {
  align-items: flex-end;
  font-size: 16px;
  letter-spacing: 3px;
}
#latest_news > .articles > h2 {
  font-size: 30px;
  padding-top: 10px;
}
#latest_news > .booking_room {
  width: 100%;
  min-height: calc(100vh - 150px);
}
#latest_news > .booking_room > div:first-of-type {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 0px;
}
#latest_news > .booking_room > div:first-of-type > figure {
  width: 600px;
  height: 560px;
  position: relative;
}
#latest_news > .booking_room > div:first-of-type > figure > img {
  width: 100%;
  height: 100%;
}
#latest_news > .booking_room > div:first-of-type > figure > figcaption {
  width: 80%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  bottom: 5%;
  left: 5%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  color: white;
}
#latest_news > .booking_room > div:first-of-type > figure > figcaption > *:hover {
  color: #E8A41D;
}
#latest_news > .booking_room > div:first-of-type > figure > figcaption > h2 {
  font-size: 32px;
  padding-left: 10px;
}
#latest_news > .booking_room > div:first-of-type > figure > figcaption > i {
  padding-left: 20px;
  padding-right: 3px;
  color: #E8A41D;
  font-size: 20px;
}
#latest_news > .booking_room > div:first-of-type > figure > figcaption > span {
  padding-left: 5px;
  font-size: 20px;
}
#latest_news > .booking_room > div:last-of-type {
  width: 50%;
  padding-top: 20px;
}
#latest_news > .booking_room > div:last-of-type > div {
  width: 100%;
  min-height: 30%;
}
#latest_news > .booking_room > div:last-of-type > div > figure {
  width: 30%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#latest_news > .booking_room > div:last-of-type > div > figure:hover figcaption {
  background-color: rgba(19, 23, 43, 0);
}
#latest_news > .booking_room > div:last-of-type > div > figure > img {
  width: 100%;
  height: 100%;
}
#latest_news > .booking_room > div:last-of-type > div > figure > figcaption {
  width: 100%;
  height: 100%;
  background-color: rgba(19, 23, 43, 0.3882352941);
  position: absolute;
  bottom: 5px;
  left: 0;
  overflow: hidden;
}
#latest_news > .booking_room > div:last-of-type > div > div {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
#latest_news > .booking_room > div:last-of-type > div > div > *:hover {
  color: #E8A41D;
}
#latest_news > .booking_room > div:last-of-type > div > div > h2 {
  display: flex;
  width: 100%;
  font-size: 35px;
  padding-left: 5px;
}
#latest_news > .booking_room > div:last-of-type > div > div > i {
  padding-left: 20px;
  padding-right: 3px;
  color: #E8A41D;
  font-size: 15px;
}
#latest_news > .booking_room > div:last-of-type > div > div > span {
  font-size: 15px;
}
#latest_news > .booking_room > div:last-of-type > div > div > span:last-of-type {
  display: flex;
  width: 60%;
  padding-left: 5px;
}
#latest_news > .booking_room > div:last-of-type > div > div > a {
  padding-left: 20px;
  transition: 0.4s;
}
#latest_news > .booking_room > div:last-of-type > div > div > a:hover {
  padding-left: 30px;
}

footer {
  width: 100%;
  min-height: 80vh;
  background-color: #13172B;
  position: relative;
}
footer > #footer_up {
  width: 80%;
  min-height: 220px;
  background-color: white;
  position: absolute;
  top: -110px;
  left: 10%;
  z-index: 1;
}
footer > #footer_up > div:first-of-type {
  width: 100%;
  min-height: 110px;
  justify-content: center;
}
footer > #footer_up > div:first-of-type > span,
footer > #footer_up > div:first-of-type h3 {
  display: flex;
  justify-content: center;
  color: #13172B;
}
footer > #footer_up > div:first-of-type > span {
  width: 100%;
  align-items: flex-end;
  font-size: 16px;
}
footer > #footer_up > div:first-of-type > h3 {
  align-items: center;
  font-size: 30px;
}
footer > #footer_up > div:last-of-type {
  width: 100%;
  min-height: 110px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
footer > #footer_up > div:last-of-type > input {
  display: flex;
  width: 300px;
  height: 60px;
  outline: none;
  border: none;
  background-color: #F8F5F0;
  font-size: 30px;
}
footer > #footer_up > div:last-of-type > a {
  display: flex;
  width: 120px;
  height: 60px;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  background-color: #E8A41D;
}
footer > #footer_up > div:last-of-type > a:hover {
  background-color: #13172B;
  color: #E8A41D;
  font-size: 17px;
}
footer #footer_down {
  width: 100%;
  height: calc(80vh - 110px);
  margin-top: 110px;
  justify-content: center;
}
footer #footer_down > div {
  width: 20%;
}
footer #footer_down > div > .title {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: flex-end;
}
footer #footer_down > div > .title > span {
  font-size: 30px;
  color: #d8d7d7;
}
footer #footer_down > div > .content {
  width: 100%;
  height: 70%;
  align-content: space-evenly;
}
footer #footer_down > div > .content > p {
  font-size: 15px;
  color: #d8d7d7;
  padding-right: 10px;
}
footer #footer_down > div > .content > span {
  width: 100%;
  color: #d8d7d7;
}
footer #footer_down > div > .content > a {
  margin-top: -30px;
  margin-left: 10px;
}
footer #footer_down > div > .content > a:hover {
  transition: 0.4s;
  rotate: 0 1 0 180deg;
}
footer #footer_down > div > .content > a > i {
  font-size: 20px;
  color: #E8A41D;
}
footer #footer_down > div > .useful_link {
  width: 100%;
  height: 70%;
}
footer #footer_down > div > .useful_link > ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-content: flex-start;
}
footer #footer_down > div > .useful_link > ul > li {
  width: 100%;
  margin-top: 20px;
}
footer #footer_down > div > .useful_link > ul > li > a {
  font-size: 15px;
  color: rgb(224, 223, 223) !important;
  transition: 0.4s;
}
footer #footer_down > div > .useful_link > ul > li > a > i {
  color: #E8A41D;
  padding-right: 5px;
}
footer #footer_down > div > .useful_link > ul > li > a:hover {
  padding-left: 10px;
  color: #E8A41D !important;
}
footer #footer_down > div > .contact_info {
  width: 100%;
  height: 70%;
  align-content: space-evenly;
}
footer #footer_down > div > .contact_info > p {
  display: flex;
  width: 100%;
  font-size: 20px;
  color: #d8d7d7;
  transition: 0.4s;
}
footer #footer_down > div > .contact_info > p:hover {
  padding-left: 10px;
  color: #E8A41D;
}
footer #footer_down > div > .contact_info > p > i {
  color: #E8A41D;
  padding-right: 7px;
  font-size: 20px;
}
footer #footer_down > div > .gallery {
  width: 100%;
  height: 70%;
  justify-content: space-between;
}
footer #footer_down > div > .gallery > a {
  display: flex;
  width: 80px;
  height: 80px;
}
footer #footer_down > div > .gallery > a > figure {
  margin-top: 5px;
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
footer #footer_down > div > .gallery > a > figure:hover img {
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
}
footer #footer_down > div > .gallery > a > figure:hover figcaption {
  width: 100%;
  transition: 0.4s;
}
footer #footer_down > div > .gallery > a > figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s;
  position: absolute;
  top: 0;
  left: 0;
}
footer #footer_down > div > .gallery > a > figure > figcaption {
  background-color: rgba(19, 23, 43, 0.4745098039);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #E8A41D;
}

.me {
  width: 100%;
  height: 120px;
  background-color: #F8F5F0;
  color: #13172B;
  justify-content: center;
}
.me > h6,
.me h3 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.me > figure {
  width: 80px;
  height: 80px;
}
.me > figure > img {
  width: 100%;
  height: 100;
  border-radius: 50%;
}/*# sourceMappingURL=master.css.map */